html, body {
  overflow-x: hidden;
  background-color: #041928;
  font-family: 'Dosis', sans-serif !important;
  font-weight: 400 !important;
  width: 100%!important;
}
#body-except-footer{
  margin-left: 1%;
  margin-right: 1%;
}

.header-bg {
  background-color: #3c436b;
}

/* SOCIAL MEDIA ICONS */
a.fa {
  padding: 10px;
  font-size: 25px;
  width: 44px;
  height: 44px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25px;
}

.fa:hover {
  opacity: 0.7;
  color: gray;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube-play {
  background: #bb0000;
  color: white;
}

.fa-telegram {
  background: #34acdc;
  color: white;
}
.fa-instagram {
  background-image: linear-gradient(to bottom, #515bd4 , #8134af , #dd2a7b, #f58529, #feda77);
  color: white;
}

.navbar-right-links {
  position: absolute;
  right: 0;
  padding-right: 2%;
}

/* NAVIGATION BAR CSS */
.nav-wrapper {
  /* for padding from body */
  padding: 15px 10px;
}

.navbar {
  border-radius: 10px;
}

.navbar-brand {
  /* set the logo width */
  width: 20% !important;
}

#logo-link {
  margin-left: 0;
}

#logo {
  width: 100%;
  margin-left: 3%;
}

.custom-toggler.navbar-toggler-icon {
  /* change the color of hamburger icon */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  margin-right: 2%;
  border: none;
}

.collapse.navbar-collapse {
  position: relative;
}

.nav-link:hover {
  color: gray !important;
}

.nav-item>a {
  font-weight: 500;
  color: white !important;
}



/* CELEBRITY + USP SECTION CSS */
.celebrity-usp {
  /* for section padding */
  padding: 15px 10px;
}

#celebrity-video {
  /* for video */
  border-radius: 20px;
  display: inline !important;
}

.usp-buttons-wrapper {
  /* for margins in the buttons*/
  padding: 0 9px;
}

.usp-buttons {
  /* inside button things */
  border-radius: 6px;
  height: 300px;
  padding: 5%;
  color: white !important;
}

@font-face { font-family: "evogria"; src: url('../Evogria.woff'); }
.usp-heading {
  font-family: "evogria";
  height: 90px;
  font-size: 28px;
}

.additional-usp-div {
  /* black division to provide space */
  height: 135px;
}

.know-more-button {
  margin-top: 0;
  color: black;
  /* inside button padding */
  padding: 4% 3%;
  font-weight: 500 !important;
}



a.know-more-link{
  color: black!important;
  text-decoration: none;
}
a.know-more-link:hover{
  color: white!important;
}


/*button hover color maintain */
#know-more-button-1 {
  background-color: #eed6ff;
}
#know-more-button-1:hover{
  background-color: transparent;
  border: 1px solid;
}

#know-more-button-2 {
  background-color: #ffffcc;
}
#know-more-button-2:hover{
  background-color: transparent;
  border:1px solid;
}

#know-more-button-3 {
  background-color: #feefd8;
}
#know-more-button-3:hover {
  background-color: transparent;
  border : 1px solid;
}

#know-more-button-4 {
  background-color: #eaedf5;
}
#know-more-button-4:hover {
  background-color: transparent;
  border: 1px solid;
}


/* specific usp gradients */
#first-usp {
  background-image: linear-gradient(to right, #551a80, #bb5cff);
}

#second-usp {
  background-image: linear-gradient(to right, #808000, #ffff00);
}

#third-usp {
  background-image: linear-gradient(to right, #7e581e, #fdd089);
}

#fourth-usp {
  background-image: linear-gradient(to right, #7786c0, #e4e7f2);
  display: none;
}

/* youtube buttons alongside of knowmore button */
a.yt-specific-button {
  font-size: 21px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20px;
}

/* OTHER USP SECTION */
.other-usp-section {
  margin: 22px 10px;
}

.other-usp-wrapper {
  /* for providing margins in the images */
  padding: 0 10px;
}

.other-usp-image {
  border-radius: 10px;
  border: 0 solid white;
}

.other-usp-images {
  border-radius: 10px;
  border: 2px solid gray;
}



/* GAMES AND SCHEMES SECTION  */
.games-schemes-division {
  margin: 3% 15px 2% 10px;
}

.games-schemes-heading {
  padding: 5px 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
  font-size: 22px;
}


.games-schemes-lower {
  padding-left: 2%;
  padding-right: 2%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #242737;
  height: 100%;
}
.schemes-carousel-indicators{
  bottom:-10px;
}
#schemes-carousel{
  padding-bottom: 3%!important;
}

.scheme-images {
  width: 85% !important;
  margin: 2% auto;
}

.carousel-control-prev-icon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 15px;
  margin-right: 25%;
}

.carousel-control-next-icon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 15px;
  margin-left: 25%;
}

.game-image-wrapper {
  padding: 8px;
}

.game-image {
  width: 100%;
}

.games-smallscreen-div {
  display: none;
}

.games-smallscreen-div .carousel-cell {
  width: 144px;
}




/* fantasy-cloneteams section */
.fantasy-cloneteam-division {
  margin: 0 15px 3% 10px;
}

.fantasy-cloneteam-wrapper {
  margin: 2% auto;
}

.fantasy-cloneteams-heading {
  padding: 5px 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
  font-size: 22px;
  border:2px solid gray;
  border-bottom: none;
}
.fantasy-cloneteams-lower {
  background-color: #242737;
}

.fantasy-cloneteam-image {
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border:2px solid gray;
  border-top: none;
}



/* testimonials section */
.testimonial-division {
  margin: 2% 15px 3% 10px;
}

.lower-testimonial-div {
  background-color: #242737;
}

.testimonial-heading {
  padding: 5px 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
  font-size: 22px;
}

.testimonial-carousel {
  padding: 1% 4% !important;
}

.testimonial-carousel-cell {
  width: 22%;
  padding: 2%;
  color: white;
  margin-right: 10px;
  background: #383b4e;
  border-radius: 5px;
  aspect-ratio: 1 / 1.05;
}

.left-image {
  border-radius: 50%;
  width: 100%;
}

.testimonial-name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.testimonial-state {
  font-size: 16px;
  margin-top: -10px;
}

.testimonial-text {
  margin-top: 8%;
  font-size: 15px;
}

.left-image-wrapper {
  width: 40%;
}

.right-name-wrapper {
  width: 60%;
}




/* SEO division css */
.seo-division {
  margin: 2% 15px 3% 10px;
}

#seo-description {
  margin-top: 1.5%;
  position: relative;
}

#seo-description .text-1 {
  /*   width: 660px;  */
  margin-bottom: 5px;
  color: white;
  padding: 0 15px;
  position: relative;
  font-size: 14px;
  display: block;
}

#seo-description .show-more-1 {
  /*   width: 690px;  */
  color: black;
  font-weight: 600;
  position: relative;
  font-size: 16px;
  padding: .2% 0;
  text-align: center;
  background: #f1f1f1;
  cursor: pointer;
  width: 25%;
  margin: auto;
}

#seo-description .show-more-1:hover {
  color: gray;
}

#seo-description .show-more-height-1 {
  height: 0;
  overflow: hidden;
}

.seo-text {
  color: white;
  text-align: center;
  background-color: #242737;
  border-radius: 12px;
  padding: 2%;
}

.internal-seo-text {
  text-align: left;
}






/* footer section css */
.footer-division{
  color: white!important;
  padding: 2%;
  background-color: #242737;
  margin: 0;
}
.footer-hr{
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  border-radius: 10px;
  width:98%;
  border: none;
  background:  white;
}
.footer-links{
  margin: 2% 0;
  padding-top:1%;
  padding-bottom: 1%;
  border-left: 1px solid white;
}
.footer-division .fa{
  color: white;
}
.footer-links a{
  text-decoration: none;
  color: white;
}

.download-buttons-wrapper{
  position: relative;
}
.download-button{
  border-color: white;
  padding: 0 3px !important;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
}
.social-icons-footer{
  text-align: right;
}
.footer-division hr{
  margin: 0.5%!important;
}
#copyright{
  text-align: center;
}




/* sticky buttons */
#sticky-download-button{
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: white;
  color: #242737;
}
#sticky-chat-button{
  display: none;
  position: fixed;
  left: 10px;
  bottom: 10px;
  background-color: white;
  color: #242737;
}







/* for bigger tablet size */
@media only screen and (max-width: 1296px) {
  .testimonial-carousel-cell {
    aspect-ratio: 1 / 1.45;
  }
}

/* MEDIA QUERY ELEMENTS FOR tablet VIEW*/
@media only screen and (max-width: 992px) {
  .nav-item {
    /* border to the list items */
    border: 1px solid white;
  }

  .nav-item>a {
    /* margin to the anchor tags in the list */
    margin-left: 10px;
  }

  .navbar {
    /* to remove padding from the dropdown */
    padding-bottom: 0;
    padding-top: 0;
  }

  .navbar-brand {
    /* change the width of icon on smaller screen size */
    width: 40% !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav {
    /* to make padding in the logo and hamburger*/
    padding-top: 2px;
    background-color: #041928;
    /* for making dropdown overlap */
    position: absolute;
    right: 0;
    width: 250px;
  }

  .nav-item-outer {
    /* set position of the list item in dropdown */
    width: 100%;
  }

  .navbar-right-links {
    /* remove social buttons on mobile view */
    display: none;
  }

  /* celebrity and usp section */
  #fourth-usp {
    display: block;
  }

  .usp-buttons-wrapper {
    padding: 9px 9px;
  }

  .know-more-button {
    margin-bottom: 3%;
  }


  /* other-usp section */
  .other-usp-wrapper {
    padding: 10px 12px;
  }

  /* games-schemes section */
  .games-schemes-division {
    margin: 3% 15px 7% 10px;
  }


  /* testimonials section */
  .testimonial-carousel-cell {
    width: 32%;
    padding: 3%;
    height: 300px;
  }

  .testimonial-division {
    margin: 5% 15px 3% 10px;
  }

  /* seo section */
  .seo-division {
    margin: 8% 15px 3% 10px;
  }


  /* footer section */
  .footer-division{
    padding: 4%;
  }
  footer .fa-download{
    font-size: 12px!important;
    margin:0!important;
  }

  /* sticky buttons */
  #sticky-download-button{
    display: block;
  }
  #sticky-chat-button{
    display: block;
  }
}



/* media query for mobile view */
@media only screen and (max-width: 768px) {
  .games-bigscreen-div {
    display: none;
  }

  .games-smallscreen-div {
    display: block;
  }

  .game-wrapper {
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .control-buttons-schemes{
    display: none;
  }
  .scheme-images{
    width: 100%!important;
  }

  .testimonial-carousel-cell {
    padding: 3%;
    width: 54%;
    aspect-ratio: 1 / 1;
  }

  .testimonial-carousel {
    padding: 2% 8% !important;
  }

  .testimonial-division {
    margin: 10% 15px 3% 10px;
  }

}


/* only for testimonials section (smallest mobile size)*/
@media only screen and (max-width: 656px) {
  .testimonial-carousel-cell {
    padding: 4%;
    width: 75%;
    aspect-ratio: 1 / 1;
  }
}
